@import "../varialbles";

.wrapper-slider {
	background: rgba(51,51,51,0.50);
	position: relative;
	img {
		z-index: -1;
		position: relative;
		max-width: 100%;
		width: 100%;
	}

	.underline {
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 50px;
			height: 2px;
			background-color: $primary-color;
			position: absolute;
			bottom: -10px;
		}
	}

	.download {
		i {
			padding-right: 10px;
		}
	}

	.slider-content {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		h2 {
			color: #fff;
			font-size: 37px;
			line-height: 46px;
			margin-bottom: 30px;
		}

		.description {
			color: #fff;
			font-size: 18px;
			line-height: 27px;
			width: 720px;
			margin-bottom: 30px;
		}

		.slider-button {
			a {
				padding: 10px 20px;
				color: #fff;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background-color: $primary-color;

				&:hover {
					text-decoration: none;
				}

				&:active, &:focus {
					outline: none;
					text-decoration: none;
				}
			}
		}
	}
}

.icon_box {
	margin-top: 50px;
	.icon {
		float: left;
		font-size: 26px;
		width: 69px;
		height: 69px;
		text-align: center;
		line-height: 69px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-color: #fff;
		color: $primary-color;
		border: 1px solid $primary-color;
		transition: all 300ms ease-in-out;
	}

	.box_content {
		margin-left: 100px;
	}

	&:hover {
		.icon {
			background-color: $primary-color;
			color: #fff;
		}
	}
}

.heading {
	color: $primary-color;
	font-weight: 700;
}

.trending, .causes {
	.section_title {
		margin-top: 29px;
		text-align: center;
		overflow: hidden;
		> div {
			width: 50%;
			margin: auto;
		}

		.line {
			width: 50px;
			height: 2px;
			background-color: $primary-color;
			margin: 15px auto 40px;
		}
	}
}

.causes {
	margin-bottom: 80px;
}

.start_now {
	text-align: center;
	margin-top: 50px;
	a {
		padding: 10px 20px;
		background-color: $primary-color;
		color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}
}

.more_information {
	img {
		width: 100%;
	}
	.heading {
		color: $primary-color;
	}

	.col-sm-6 {
		margin-bottom: 30px;
	}

	.left_text {
		//margin-top: 254px;
		//-webkit-transform: translateY(-50%);
		//-moz-transform: translateY(-50%);
		//-ms-transform: translateY(-50%);
		//-o-transform: translateY(-50%);
		//transform: translateY(-50%);
	}
}

.full_widget_stretch {
	.left_column, .right_column {
		float: left;
		width: 50%;
	}

	.left_column {
		padding-right: 20px;
		img {
			width: 100%;
		}
	}

	.right_column {
		padding-left: 20px;
	}
}

.mobile_version {
	width: 100%;
	img {
		width: 100%;
		z-index: -1;
		position: relative;
	}

	.image_background {
		background: rgba(34,34,34,0.69);;
	}
}