<div class="wrapper-landing-page">
    <div class="wrapper-slider">
        <img src="assets/images/slider.png">
        <div class="container">
            <div class="slider-content">
                <h2>Edoo - Giải pháp cho nền giáo dục mới</h2>
                <div class="description">Mạng xã hội kết nối sinh viên, giảng viên lại với nhau. Sinh viên được học tập
                    trong một môi trường học tập liên tục, trao đổi kiến thức hiệu quả.
                </div>
                <div class="slider-button"><a routerLink="/login">Tham gia ngay</a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="trending">
            <div class="section_title">
                <h3>Xu hướng học tập của sinh viên hiện đại</h3>
                <div>Chúng tôi đã thực hiện một cuộc khảo sát với các bạn sinh viên đang học tập về những cảm nhận và
                    phương pháp học tập của chính họ.
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="more_information">
            <div class="row">
                <div class="col-sm-6 left_text">
                    <p class="heading">Nhu cầu trao đổi của sinh viên thực sự nhiều</p>
                    <p>Tất nhiên việc học trên lớp với thời gian 1-2 tiết mỗi ngày thực sự không thể đủ để nhiều sinh
                        viên có thể hiểu và nắm bắt bài học được. Như vậy sẽ có rất nhiều vấn đề bài vở khiến họ thắc
                        mắc và muốn một môi trường trao đổi.</p>
                </div>
                <div class="col-sm-6">
                    <img src="assets/images/khaosat1.png">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/images/khaosat2.png">
                </div>
                <div class="col-sm-6 left_text">
                    <p class="heading">Biện pháp trao đổi của sinh viên là mạng xã hội</p>
                    <p>Hầu hết các sinh viên bây giờ thường tìm những câu trả lời cho việc học của mình ở trên mạng. Rất
                        đơn giản với Google để có những kết quả tìm kiếm tốt, nhanh và tiện lợi. Hay với mạng xã hội
                        Facebook, nơi có rất nhiều người đang online và bạn có thể trao đổi trực tuyến với họ.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 left_text">
                    <p class="heading">Tuy nhiên mạng xã hội cũng mang nhiều hạn chế</p>
                    <p>Biện pháp hiện đại, phổ thông hiện nay được xem là giải pháp cứu cánh cho vấn đề trao đổi bài học
                        của sinh viên đang chủ yếu vẫn là mạng xã hội Facebook. Nhưng liệu rằng đây có thực sự là một
                        biện pháp tốt, khi nó khiến các sinh viên xao nhãng và không tập trung.</p>
                </div>
                <div class="col-sm-6">
                    <img src="assets/images/khaosat3.png">
                </div>
            </div>
        </div>
        <div class="separator">
            <div class="pyramid"></div>
        </div>
    </div>
    <div class="causes">
        <div class="section_title container">
            <h3>Giải pháp học tập mới cho sinh viên</h3>
            <div>Để giải quyết những hạn chế của mô hình đào tạo tín chỉ, Edoo đã ra đời - một mạng xã hội thật mới mẻ
                và chuyên biệt cho việc học.
            </div>
            <div class="line"></div>
        </div>
        <div class="full_widget_stretch">
            <div class="left_column">
                <img src="assets/images/edooapp.png">
            </div>
            <div class="right_column">
                <div>Edoo là mạng xã hội học tập, tập trung hướng đến đối tượng sinh viên, giảng viên các trường đại
                    học, cao đẳng với nhiều tính năng nổi bật.
                </div>
                <div class="icon_box">
                    <div class="icon">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </div>
                    <div class="box_content">
                        <p class="heading">Kênh trao đổi tập trung</p>
                        <p>Sinh viên và giảng viên được tự động thêm vào các lớp môn học mà mình tham gia, đó chính là
                            nơi để các thành viên trong lớp môn học trao đổi, học tập.</p>
                    </div>
                </div>
                <div class="icon_box">
                    <div class="icon">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                    <div class="box_content">
                        <p class="heading">Hỏi đáp nhanh chóng</p>
                        <p>Bạn có thể đăng bài và trả lời bài đăng trong lớp môn học một cách nhanh chóng, giúp đỡ nhau
                            trong quá trình học tập.</p>
                    </div>
                </div>
                <div class="icon_box">
                    <div class="icon">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                    <div class="box_content">
                        <p class="heading">Đánh giá người học</p>
                        <p>Hoạt động của bạn được ghi nhận, cho điểm và đánh giá một cách công bằng nhất.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="start_now"><a routerLink="/login">Bắt đầu ngay</a></div>
    </div>
    <div class="wrapper-slider">
        <img src="assets/images/appphone.png">
        <div class="container">
            <div class="slider-content">
                <h2 class="underline">Ứng dụng Edoo trên điện thoại di động</h2>
                <div class="description">
                    Hiện tại ứng dụng đã có mặt trên Android, hỗ trợ cho người dùng một cách tiện lợi, nhanh chóng.
                </div>
                <div class="slider-button"><a target="_blank" class="download"
                                              href="https://play.google.com/store/apps/details?id=com.uet.fries.edoo"><i
                        class="fa fa-android" aria-hidden="true"></i>Tải về máy</a></div>
            </div>
        </div>
    </div>
</div>